.fieldContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
}
.container{
    border-radius: 0;
    border: 1px solid black;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 700px;

}
.MuiPaper-root.customPaper {
    border-radius: 0;
  }
h6 {
    top: -10px;
    left: 16px;
    background-color: white;
    padding: 0 8px;
  }
.fieldInfo{
  margin-right: 90px;
}